{
  // "root": true,
  "ecmaFeatures": {
    "jsx": true
  },
  "env": {
    "browser": true,
    "node": true,
    "jquery": true
  },
  "rules": {
    "quotes": 2,
    "no-trailing-spaces": 2,
    "eol-last": 2,
    "no-unused-vars": 2,
    "no-underscore-dangle": 2,
    "no-alert": 2,
    "no-lone-blocks": 2,
    "no-undef": 2
  },
  "globals": {
    "jQuery": true,
    "$": true
  }
}